<div class="col-10 offset-1 about"> 
      <h1>About Splurty</h1>
      <br />
      <br />

      <p>
        Splurty was built by <a target="_blank" href="https://github.com/PaleoGuy2012/Firehose">Ryan Marks. </a> Ryan is on a mission to prove that anyone can learn code -- even with zero coding experience and if you don't think you're "good with computers."
      </p>
      <br /> 
      <p> If you want to learn how to code - start <a target="_blank" href="http://thefirehoseproject.com/"> here</a>
      </p>

      <div class="row">
        <div class="col-12 col-sm-4">
          <%= image_tag 'Ryan.jpg', class: 'img-fluid' %>
        </div>

        <div class="col-12 col-sm-7 offset-sm-1">
          <h2 class="text-center">Ryan Marks</h2>
          <br />
          <p>
            Ryan Marks is an aspiring web developer excited to learn how to bring his creative and entrepreneurial ideas to life via the internet. His background includes sales, 911 Dispatching, and spending several years as a stay at home dad to his beloved daughter Bradlee.  Seeking a new challenge, Ryan has immersed himself in the world of web development via the Firehose Project and can't wait to show the world that in fact, an old dog can learn new tricks. 
            </p>
          </div>
        </div>
        <br class="clear" />
        <br />
        <br />
        <br />
        <br /> 













    </div>